<div *ngIf="item.length !=0">
  <ion-card *ngFor="let text of item" style="border: 2px solid #F58E26; ">
    <ion-card-header>
      <ion-card-title>{{text.OriginLocation}} -- {{text.DestinationLocation}}</ion-card-title>
      <ion-card-subtitle>Posted On {{text.date}} |Expires in 24hrs</ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>
      {{text.product}}
    </ion-card-content>

    <ion-card-content>
      {{text.data}} -- {{text.Quantity}}
    </ion-card-content>
    <ion-card-title style="float: right; margin-top: -53px;">₹ {{text.expectedPrice}}</ion-card-title>
  </ion-card>
</div>
