<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <!-- <ion-icon name="arrow-back-sharp" routerLink="" style="font-size: 30px;"></ion-icon> -->
      <ion-title>Active Loads</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-icon name="ellipse-sharp" style="color: green; margin-top: 1rem;"></ion-icon>
        </div></ion-col>
      <ion-col>
        <div style="margin-left: -5rem; margin-top: -1rem;">
        <h1>Availability</h1>
        <p style="margin-top: -1rem;">Available</p>
      </div>
      </ion-col>
      <ion-col><ion-toggle  style="margin-left: -5rem;"></ion-toggle></ion-col>
      
    </ion-row>
  </ion-grid>
<ion-card style="font-size: 16px;">
 
  <ion-row>
    <ion-col>Id</ion-col>
    <ion-col>:</ion-col>
    <ion-col>0987654</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>From destination</ion-col>
    <ion-col>:</ion-col>
    <ion-col>Ongole</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>To Destination</ion-col>
    <ion-col>:</ion-col>
    <ion-col>Nellore</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Vehicle type</ion-col>
    <ion-col>:</ion-col>
    <ion-col>LCV</ion-col>
  </ion-row>
<br>
  <div style="text-align: center;" >
    <ion-button shape="round" class="more" routerLink="/driver-more-details">View more details</ion-button>
  </div>

</ion-card>
</ion-content>
