<ion-header>
  <ion-toolbar color="white">

    <h1 align="center">Load Market</h1>



  </ion-toolbar>
</ion-header>
<br>
<ion-segment [scrollable]="true" value="home">
  <ion-segment-button value="home" (click)="toggle('Active')">
    <ion-label>Active Loads</ion-label>
  </ion-segment-button>

  <ion-segment-button value="pin" (click)="toggless('Completed')">
    <ion-label>Accepted by shipper</ion-label>
  </ion-segment-button>

</ion-segment>
<br>
<ion-content>

  <div class="container">
    <ion-searchbar animated="true" placeholder="Search" style="width: 101%; --border-radius: 20px; margin-left: -1px;"
      align="centre" [(ngModel)]="searchtext"></ion-searchbar>

    <br>
    <H5 style="font-weight: bold;">Loads :</H5>



    <div *ngIf="item.length !=0">
      <ion-card *ngFor='let text of item | filter:searchtext' style="border: 2px solid #F58E26; ">
        <ion-card-header>
          <p style="font-size: 17px;">{{text.isActive}}</p>
          <ion-img
            src="https://media.istockphoto.com/id/1150981488/vector/brown-paper-box.jpg?b=1&s=170667a&w=0&k=20&c=ExZoHBgVStsXWmQiQw4hVlN-EvhEec-QrqhpXiym2og="
            style="height: 70px; width: 70px;" float="left"></ion-img>

          <ion-card-title>{{text.OriginLocation}} -- {{text.DestinationLocation}}</ion-card-title>
          <ion-card-subtitle>Posted On {{text.date}} |Expires in 24hrs</ion-card-subtitle>
          <p>-----------------------------------------------------------------------</p>
        </ion-card-header>

        <ion-card-content>
          {{text.product}}
        </ion-card-content>

        <ion-card-content>
          {{text.data}} -- {{text.Quantity}}
        </ion-card-content>
        <ion-card-title style="float: right; margin-top: -53px;">₹ {{text.expectedPrice}}</ion-card-title>
        <ion-button fill="solid" shape="round" class="place" (click)="loadById(text)">Place Bid</ion-button>
      </ion-card>
    </div>

    <!-- <div *ngIf="item.length !=0">
    <ion-card *ngFor='let text of item | filter:searchtext' style="border: 2px solid #F58E26; ">
      <ion-card-header>
        <ion-card-title>{{text.OriginLocation}} -- {{text.DestinationLocation}}</ion-card-title>
        <ion-card-subtitle>Posted On {{text.date}} |Expires in 24hrs</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        {{text.data}} -- {{text.Quantity}}
      </ion-card-content>
      <ion-card-title style="float: right; margin-top: -53px;">₹ {{text.expectedPrice}}</ion-card-title>
    </ion-card>
  </div> -->


    <div *ngIf="item.length ==0">
     
      <img src="https://5.imimg.com/data5/SF/YX/MY-2496828/carton-corrugated-box-500x500.jpg"
        style="height: 70px; width: 70px;">
      <h3>No loads have been posted yet...!</h3>
    </div>
    <!-- <br>
    <h3 align="center">Post load to book live loads and use directory</h3>
    <br> -->
  </div>


</ion-content>